.cursor
.vscode
.venv
.taskmaster/
.claude/
.dcoder/
#tests/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
reference/
perplexity/
.taskmaster/
# Environment variables
.env
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store

CLAUDE.md

# Task files
# tasks.json
# tasks/ 

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### Pythod build ###
build/
dist/
*.egg-info/

### Python tests ###
.pytest_cache/
.hypothesis/
.mypy_cache/
.ruff_cache/